.sidepane{
    width: 100%;
    height: 100%;
}

.list-pane{
    display: flex;
    margin-top: 35px;
}

.text-pane{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: white;
margin-left: 15px;
}
.text-paneN{
    font-family: 'Montserrat';
font-style: normal;
font-size: 18px;
font-weight: 400;

line-height: 22px;
color: white;
margin-left: 15px;
}
.clip
{
    font-size: 18px;
    color: white;
}

.bold-head{
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 20px;
}
.list-sidepaneP{
    margin-left: 20px;
}

.lowerpane{
    margin-top: 400px;
    margin-left: 20px;

}

.lowerText{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;

font-size: 14px;
line-height: 22px;
color: white;
}

.lowerText{
    margin-top: 20px;
}