.mainHead{
    font-family: Montserrat;
font-size: 72px;
font-weight: 700;
line-height: 88px;
letter-spacing: 0em;
text-align: left;
height: 88px;
width: 246px;
color: #FFFFFF;
margin-left: 200px;
margin-top: 400px;
}


